
html#html{
  transition:1s;
  /*margin-left:250px;*/
}

body{
  margin:0px;
  /*margin-left:250px;*/
  padding:0px;
  background:url('../images/background/bg-mini.jpg');
  background-size:1366px;
  background-repeat: no-repeat;
}

@keyframes mymove {
    from {display: none;}
    to {display: block;}
}

header{
  width:100%;
  height:50px;
}

header:hover{
  transition: ease-in-out;
  background:-webkit-linear-gradient(rgba(0,0,0,0.4),rgba(255, 255, 255,0));
}

header:hover ul.menu li a{
  color:white;
}

header:hover ul.menu li:hover {
  border-bottom:1px solid white;
}

header ul.menu{
  text-align: center;
  float:right;
  list-style-type: none;
  margin-right:55px;
}

header ul.menu li{
  float:right;
  padding:15px;
  padding-top:0;
  margin-left:25px;
  width:50px;
  padding-bottom:6px;
  text-align: center;

}

header ul.menu li a{
  text-decoration:none;
  color:black;
  text-align: center;
}

div#login-box{
  overflow:hidden;
  transition: 2s;
  transition-delay: 0s;
  display:none;
  width:28%;
  /*height:340px;*/
  height : auto;
  /*height:190px; standard*/
  border-radius:7px;
  margin-left:35%;
  margin-top:10%;
  background:rgba(255, 255, 255, 0.6);
}

div#login-box form.login-form > div#text-box >.text{
  width:90%;
  position:relative;
  -webkit-animation-delay: 2s;
  text-transform: capitalize;
  background:rgba(255, 255, 255, 0);
  text-align:left;
  font-size:13pt;
  border:0;
  border-bottom:5px solid rgb(117, 210, 255);
  /*padding-left:10px;*/
  height:30px;
  margin-left:5%;
  margin-top:16px;
}

div#login-box form.login-form > div#text-box{
  overflow:hidden;
  width:100%;
  transition: 2s;
  transition-delay: 0s;
}



div#login-box form.login-form > .text:focus{
  background:rgba(255, 255, 255, 0.44);
}

div#login-box form.login-form > .submit{
  width:90%;
  text-transform: capitalize;
  background:rgba(83, 163, 237, 1);
  text-align: center;
  font-size:14pt;
  border:0;
  color:white;
  border-radius:5px;
  margin-top:25px;
  margin-left:5%;
  height:37px;
  transition : 1.0s;
  transition-delay: 0s;
}

div#login-box form.login-form > .submit:hover{
  transition : 1s;
  background : -webkit-linear-gradient(left,rgb(83, 163, 237),rgb(241, 75, 39));
}

div#help-box{
  display:none;
  margin-top:80px;
  margin-left:33%;
  border-radius:15px;
  width:500px;
  height:400px;
  background:rgba(255, 255, 255,0.7);
}

div.help-title{
  width:100%;
  height:10%;
  border-bottom:5px solid rgb(212, 217, 119);
  /*padding-top:5px;*/

}

div#help-box div.help-body{
  height:70%;
  /*background:orange;*/
  width:90%;
  margin-left:5%;
}

div#help-box > div.help-body p {
  text-align:justify;
}

div#help-box div.help-title p{
  text-align:center;
  font-size:23pt;
  font-family:sans-serif;
}

div#help-box > div.close{
  width:90%;
  border-radius: 5px;
  height:9%;
  margin-left:5%;
  padding-top:15px;
  text-align:center;
  background:rgb(73, 126, 180);
  color:white;
  text-transform: capitalize;
  font-size:14pt;
}

div#help-box > div.close > a{
  text-decoration : none;
  color:white;
}

div#sidebar{
  width:20%;
  position:fixed;
  height:700px;
  background:rgba(0, 0, 0, 0.44);
  /*backdrop-filter: blur(10px);*/
  float:left;
  margin-left:-20%;
  transition:1s;
}

#side{
  float:left;
  /*margin-right:940px;*/
}

div#warning{
  width:100%;
  margin-top:10px;
  margin-bottom:30px;
  /*padding-top : 2px;
  padding-bottom:2px;*/
  border-top:2px solid rgb(0, 0, 0);
  border-bottom:2px solid rgb(0, 0, 0);
  color:white;
  font-family:sans-serif;
  text-align:center;
  font-size:16pt;
  background:red;
}

#error-ol{
  list-style-type:numeric;
}

ol#error-ol > li{
  color:white;
  /*text-shadow:1px 1px black;*/
}
