body{
  margin:0;
}
header{
  background:rgb(255, 193, 56);
  width:100%;
  height:50px ;
}

form.search .form{
  width:200px;
}

div.search{
  padding-top:15px;
  /*margin-left: 100px;*/
}

div.chat-box{
  width:400px;
  height:550px;
  background:rgb(236, 236, 236);
  border:2px solid orange;
  float:right;
}

div.receiver-name{
  width:26%;
  height:5%;
  background:rgb(105, 165, 236);
  margin : 20px 0px 0px 5%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color:white;
  /*padding-top:20px;*/
}

div.receiver-name p{
  padding-top:5px;
  /*margin:20px 0 0 20px;*/
  text-align:center;
}

div.person-chat-box{
  width:90%;
  height:420px;
  background:rgb(235, 235, 235);
  border:2px solid rgb(105, 165, 236);
    /*float:left;*/
  margin: 0px 0px 0px 5%;
  overflow-y : scroll;
}

div.type-message{
  margin-left:20px;
}

div.type-message form.type-chat input{
  margin-top:-20px;
}

div.chat-slot{
  /*background:rgb(133, 133, 133);*/
  width:60%;
  /*float:left;*/
  height:auto;
}

div.chat-slot div.chat-ava{
  height:auto;
  width:20px;
  float:left;
  background:red;
  /*padding:5px 0 5px 0px;*/
}


div.chat-slot div.chat-text{
  height:auto;
  width:auto;
  background:rgb(201, 201, 201);
  /*padding:5px 0 5px 0px;*/
  float:left;
  padding:2% 7% 2% 7%;
  margin-bottom:2%;
}


div.chat-slot div.chat-text-receive{
  height:auto;
  width:auto;
  background:rgb(45, 73, 193);
  float:right;
  padding:2% 7% 2% 7%;
  margin-bottom:2%;
  color:white;
}


div.friend-list{
  height:200px;
  width:60%;
  float:left;
  margin-top:30px;
  background:rgb(233, 233, 233);
  border:2px solid rgb(125, 143, 255);
}

div.friend-display{
  height:80%;
  width:30%;
  margin-left:20px;
  float:left;
  background:rgb(145, 145, 145);
}

#username{
  display:none;
}
